.how-promo {
    padding: 240px 0 140px;
    &__title {
        margin-bottom: 1.5rem;
    }
    &__row {
        align-items: center;
    }
    @media screen and (max-width: 991px) {
        text-align: center;
        &__subtitle {
            margin-bottom: 25px;
        }
    }
}